<form class="example-form">

  <mat-form-field class="example-full-width" color="primary" appearance="outline" required >

    <mat-label>Timezone:</mat-label>
    <mat-placeholder>Escolha uma timezone</mat-placeholder>
    <input matInput type="text" aria-label="Number" [formControl]="timezoneAreasControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let option of timezoneAreasFilteredOptions | async" [value]="option?.timezone" >
        {{ option?.timezone }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-icon-button color="warn" [disabled]="isDisableButton" type="button" (click)="onClickGetTime()" >
    <mat-icon>favorite</mat-icon>
  </button>

  <br/>
  <br/>

  <mat-card *ngIf="timeSelected">
    <h2>{{ timeSelected?.timezone }}</h2>
    <h5>{{  'GMT: ' + timeSelected?.GMT  }}</h5>
    <br/>
    <h3 *ngIf="timeSelected?.timeValue" [style]="{ 'color': 'red'}" >{{  'Local Current Time: ' + timeSelected?.timeValue  }}</h3>
  </mat-card>

</form>

