/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color:#7b1fa2 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color:#7b1fa2 !important;
}

.mat-input-element {
  color:#7b1fa2 !important;
}

mat-form-field span.mat-form-field-label-wrapper label {
  color:#7b1fa2 !important;
}
